@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span3">
        <div class="content-block">
            <h2>Sản phẩm đã đặt hàng đang chờ xử lý</h2>
            <ul class="list_features">
                <li>
                    <span class="field">Hôm nay</span>
                    <span class="val val-excellent">2</span>
                </li>
                <li>
                    <span class="field">Ngày hôm qua</span>
                    <span class="val val-good">15</span>
                </li>
                <li>
                    <span class="field">Đơn hàng cũ hơn</span>
                    <span class="val val-bad">20</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="span6">
    </div>
    <div class="span3">
    </div>
</div>
