<div class="btn-group">
    <button data-toggle="dropdown" style="height: 30px; min-width: 34px" class="btn btn-small btn-warning css_btn_sub dropdown-toggle">
        <i class="icon-gear"></i>
    </button>
    <ul class="dropdown-menu dropdown-info pull-right">
        <li>
            <a href="javascript:void(0);" ng-click="CreateOrUpdateCustomer('0');">Thêm</a>
        </li>
        <li>
            <a href="javascript:void(0);" ng-click="CreateOrUpdateCustomer('1');">Sửa</a>
        </li>
        <li>
            <a href="javascript:void(0);" ng-click="ShowCardPoint();">Tích điểm</a>
        </li>
    </ul>
</div>