<div id="dialog-container-v2" class="model-form-v2 dialog-popupModel-zindex8"></div>
<div tabindex="-1" class="modal hide in model-form-v2" id="modal-form-v2" style="display: none;" aria-hidden="false">
    <div class="modal-header">
        <h5 class="white bigger"><span id="pop_title-v2"></span></h5>
    </div>

    <div class="modal-body overflow-visible">
        <div id="data2" style="margin: 8px 2px; line-height: 20px; text-align: left"></div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" id="btnPop_Save-v2"><i class="icon-ok"></i><span id="sp_save-v2">Lưu</span></button>
        <button class="btn btn-danger" id="btnPop_Close-v2" onclick="PopupSearchCancel('.model-form-v2')"><i class="icon-reply"></i><span id="sp_close-v2">Đóng</span></button>
    </div>
</div>
