<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Presentation.WebClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
  </system.web>
  <appSettings>
    <add key="SQLConnection" value=""/>
  </appSettings>
  
  <applicationSettings>
    <Presentation.WebClient.Properties.Settings>
      <setting name="Presentation_WebClient_WebProcessService_WebProcessService"
        serializeAs="String">
        <value>http://dev.ngvgroup.vn:9109/WebProcessService.svc</value>
      </setting>
    </Presentation.WebClient.Properties.Settings>
  </applicationSettings>
</configuration>